
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

.container{
    width: 82.5%;
    max-width: 1320px;
    margin: 0 auto;
}
section{
    padding-bottom: 120px;
}
button{
    border-radius: 8px;
    background: #ff0000;
    padding: 16px 32px;
    color: #ffffff;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: normal;
    transition: 0.2s;
}
button:hover{
    background: #dd0000;

}
/* *** Banner style *** */
.banner{
    background-image:linear-gradient(180deg, 
            #070211 0%, 
            rgba(7, 2, 17, 0.00) 100%), 
              url('../resources/Banner_Image.png'); /* ???????????????? have to ask about this */
    background-size: cover;
    background-repeat: no-repeat;
    width: 1320px;
    height: 600px;
    border-radius: 16px;
    margin-top: 50px;
    position: relative;
    border-radius: 16px;
    margin-bottom: 120px;
}

.banner .banner-text{
    width: 48%;
    max-width: 632;
    position: absolute;
    top: 177px;
    left: 344px;
}
.banner .banner-text h2{
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 16px;
}
.banner .banner-text h1{
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px; /* 131.944% */
}

/* Category section */
#category{
    width: 50%;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}
#category .category-text h2{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 48px;
}
#category .category-text p{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}
#category .category-text h3{
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 48px;
}
#category .category-img{
    width: 100%;
}
/* midnight party section  */
#midnight-party{
    background-image:linear-gradient(90deg, 
            #070211 0%, 
            rgba(7, 2, 17, 0.00) 100%), 
              url('../resources/Vectorrr.png'); 
    background-repeat: no-repeat;
    background-size: cover;
    width: 1320px;
    height: 600px;
    border-radius: 20px;
    position: relative;
}
#midnight-party .party-text{
    color: #FFF;
    max-width: 700px;
    position: absolute;
    top: 126px;
    left: 126px;
}
#midnight-party .party-text *{
    margin-bottom: 24px;
}
#midnight-party .party-text h2{
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
}
#midnight-party .party-text p{
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
#midnight-party .party-img{
    position: absolute;
    top: 70px;
    right: 140px;

}
#midnight-party .party-img img{
    display: flex;
    width: 319.83px;
    height: 464.662px;
    padding: 0.008px 0px 0px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    /* mix-blend-mode: lighten; have to fix it */
}


/* Party address section  */
#party-address{
    width: 1320px;
    height: 482px;
    position: relative;
}
#party-address .address-text{
    position: absolute;
    top: 100px;
    right: 380px;
    text-align: center;
}
#party-address .address-text p{
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
}
#party-address .address-text p span{
    color: #FF0000;
}
#party-address .address-text button{
    margin-top: 48px;
}

/* coming soon section */
#coming-soon{
    width: 1600px;
    height: 465px;
    background: #FFF;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
    align-content: center;
}
#coming-soon .text-left{
    width: 390px;
    text-align: left;
}
#coming-soon .text-left h3{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}
#coming-soon .text-left h2{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
}
#coming-soon .text-left p{
    color: #07021199;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}
#coming-soon .img-container{
    background-color: red;
    width: 463px;
    height: 463px;
    border-radius: 100%;
    position: relative;
}
#coming-soon .container-inner{
    background-color: white;
    width: 433px;
    height: 433px;
    border-radius: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#coming-soon .inner-img{
    background-color: white;
    width: 365px;
    height: 365px;
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 100%;
    transform: translate(-50%, -50%);
}
#coming-soon .text-right{
    width: 275px;
    text-align: left;
}
#coming-soon .text-right h3{
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}
#coming-soon .text-right p{
    color: #07021199;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}
#coming-soon .text-right img{
    margin-top: 45px;
    height: 140px;
    width: 140px;
}
/* Holiday sales  */
#holiday{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}
#holiday .holiday-text{
    width: 1070px;
    text-align: center;
}
#holiday .holiday-text h3{
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}
#holiday .holiday-text h2{
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    margin-bottom: 28px;
}
#holiday .holiday-text h2 span{
    color: #F00;
}
#holiday .holiday-text p{
    color: #07021199;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    margin-bottom: 64px;
}
#holiday .holiday-imgs{
    position: relative;
    width: 1320px;
    height: 665px; /* i gave 3 pixel more compared to images height" */
}
#holiday .holiday-imgs img{
    position: absolute;
}

#holiday .holiday-imgs .red-img{
    bottom: 0px;
    left: 0px;
    width: 1320px;
    height: 229px;
}
#holiday .holiday-imgs .girl-img{
    bottom: 229px;
    right: 0px;
    width: 429px;
    height: 433px;
}
#holiday .holiday-imgs .offer-img{
    bottom: 340px;
    right: 325px;
    width: 220.048px;
    height: 220.048px;
}
#holiday .holiday-imgs .box-img{
    bottom: 0px;
    left: 0px;
    z-index: 1;
    /* mix-blend-mode: screen; have to fix it */
}

/* portfolio section  */
/* #portfolio{

} */
#portfolio .portfolio-text{
    width: 890px;
}
#portfolio .portfolio-text h3{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}
#portfolio .portfolio-text h2{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 22px;
}
#portfolio .portfolio-text p{
    color: #07021199;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 48px;
}

#portfolio img{
    width: 424px;
    height: 450px;
    border-radius: 16px;
    transition: 0.2s;
}
#portfolio img:hover{
    box-shadow: 5px 3px 10px 3px red;
}
#portfolio .portfolio-imgs{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
}
#portfolio .portfolio-imgs .img-set{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 24px;  
}

/* newsletter section  */
#newsletter{
    width: 1320px;
    height: 616px;
    border-radius: 16px;
    background: #ff00000d;
    position: relative;
}
#newsletter .newsletter-content{
    position: absolute;
    top: 80px;
    left: 210px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 896px;
}
#newsletter .newsletter-content .newletter-icon{
    width: 150px;
    height: 150px;
    margin-bottom: 40px;
}
#newsletter .newsletter-content .newletter-icon img{
    width: 100%;
}
#newsletter .newsletter-content h3{
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 22px;
}
#newsletter .newsletter-content p{
    color: #07021199;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 48px;
}
#newsletter form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}
#newsletter input[type=email]{
    width: 648px;
    height: 72px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #FFF;
    padding: 24px 30px;
    color: #0702114d;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    border: none;
}
#newsletter input[type=email]:focus{
    outline: none;
}
#newsletter input[type=submit]{
    width: 210px;
    height: 72px;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    padding: 24px 56px;
    margin-left: -50px;
    border: none;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
}

/* footer section  */
footer{
    margin-top: 120px;
    width: 1600px;
    height: 610px;
    flex-shrink: 0;
    background: #070211;
    color: white;
    margin: 0 auto;
}
footer p{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal; 
    line-height: 40px;
}
footer .horizontal-line{
    width: 1320px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.15);;
    /* color: rgba(255, 255, 255, 0.15); */
}
footer .upper-content{
    padding-top: 120px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
    
}
footer .upper-content .right-content > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin-right: 275px;
}
footer .upper-content .right-content img{
    width: 24px;
    height: 24px;
    padding-right: 16px;
}
footer .middle-content{
    margin: 48px auto;
    text-align: center;
}
footer .middle-content img{
    width: 64px;
    height: 64px;
    margin-right: 24px;
    border-radius: 50%;
}
footer .lower-content{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
